/*******/

@font-face {
  font-family: sharetech;
  src: url(fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf)
}

@font-face {
  font-family: teefont;
  src: url(fonts/VT323/VT323-Regular.ttf);
}

@font-face {
  font-family: eightbit;
  src: url(fonts/8_bit_pusab/8-bit-pusab.ttf);
}

/*******/


body{
  display: flex;
  justify-content: center;
  background: url(https://wallpapercave.com/wp/wp4779307.jpg)
}

h1{
  display: flex;
  justify-content: center;
  margin-top: 0px;
  font-family: teefont;
  font-size: 60px;
}


h2{
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-family: sharetech;
  margin-bottom: 0px;
}

h3{
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-bottom: 0px;
  font-family: eightbit;
  background: url(https://media4.giphy.com/media/eLp9n9Nhqsv1YS2n7o/giphy.gif)


}



#alien{
display: inline;
justify-content: center;
margin: 38px;
    float: left;
    width: 150px;
    height: 38px;
}


#alien2{
  display: inline;
  justify-content: center;
  margin-right: 130px;
  margin-top: 39px;
      float: right;
      width: 150px;
      height: 38px;

}


#hero-image{

}

#hero-image img{
  width: 400px;
  height: 400px;
}

#container{
position: relative;
top: 50px;
width: 900px;
font-family: monospace;
font-size: 20px;
color: #fff;
}


#content-box{
  position: relative;
  justify-content: center;
  background: #711696;
  padding: 50px;
  margin-bottom: 15px;
  box-shadow: 15px 3px 40px #501696;
  width: 806px;
  font-family: sharetech;
}

ul {
  position: relative;
  justify-content: center;
  margin: 50px;
  list-style-type: none;
  padding: 15px;
  display: flex;
  margin-bottom: 15px;
  font-family: teefont;
  height: 80px;
}

a {
  display: flex;
  font-size: 30px;
  justify-content: center;
  text-decoration: none;
  background: #FFF;
  padding: 30px;
  color: #000;
  margin-top: 20px;
}

a:hover{
  background: #E9C8FF
}


#slider {
  overflow: hidden;
}

#slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure img{
  width: 20%;
  float: left;
}

@keyframes slider{
  0%{
    left: 0;
  }
  20%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  95%{
    left: -300%;
  }
  100%{
    left: -400%;
  }
}
